.banner {
  height: 600px;
}

.container {
  padding-top: 300px;
  color: white;
}
 .btn {
  color: white;
  font-family: "Nunito", "Helvetica", "sans-serif";
  border-color: white;
  border-radius: 40px;
 }

 .fas {
  color: red;
 }
